.reactNavigation {
    z-index: 1;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &__dropdown {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 4px);
        right: 0;
        border-radius: 8px;
        background-color: #f0f0f0;
        box-shadow: 0 3px 3px rgba($color: #000000, $alpha: .5);
    }

    &__searchField {
        width: 100%;
        border: 1.5px solid transparent;
        border-radius: 8px 0 0 8px;
        padding: 0 12px 0 12px;
        height: 42px;
        font-size: .9em;

        &:focus {
            outline: none;
            border: 1.5px solid #00a2ff;
            border-radius: 8px 0 0 8px;
        }
    }

    &__button {
        cursor: pointer;
        display: flex;
        position: relative;
        flex-shrink: 0;
        align-items: center; 
        margin: 0 2px;
        border-radius: 8px;
        background: #d8d8d8;
        padding: 0 12px 0 12px;
        height: 42px;

        &__text {
            margin: 0 2px 0 2px;
            color: #686868;
            font-size: 1em;
            font-weight: bold;
        }

        &__svg {
            margin: 0 2px 0 2px;
            width: 18px;
            height: 18px;
            fill: #686868;
        }

        &__img {
            margin: 0 2px 0 2px;
            width: 18px;
            height: 18px;
        }

        & > *:first-child {
            margin-left: 0;
        }

        & > *:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        margin: 0 18px;

        &__text {
            margin: 0 2px 0 2px;
            color: #5a5a5a;
            font-size: 1.2em;
            font-weight: normal;
        }

        &__svg {
            margin: 0 2px 0 2px;
            width: 20px;
            height: 20px;
            fill: #5a5a5a;
        }

        &__img {
            margin: 0 2px 0 2px;
            width: 20px;
            height: 20px;
        }

        & > *:first-child {
            margin-left: 0;
        }

        & > *:last-child {
            margin-right: 0;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        margin: 0 18px;

        &__text {
            margin: 0 4px 0 4px;
            color: #5a5a5a;
            font-size: 1.6em;
        }

        &__svg {
            margin: 0 4px 0 4px;
            width: 24px;
            height: 24px;
            fill: #5a5a5a;
        }

        &__img {
            margin: 0 4px 0 4px;
            width: 24px;
            height: 24px;
        }

        & > *:first-child {
            margin-left: 0;
        }

        & > *:last-child {
            margin-right: 0;
        }
    }

    &__navCol {  
        display: flex;
        position: relative;
        align-items: center;
        & > *:first-child { margin-left: 0; }
        & > *:last-child { margin-right: 0; }
    }

    &__navRow {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        column-gap: 24px;
        z-index: 1;
        background: #f0f0f0;
        padding: 4px 20px;
        width: 100%;
        row-gap: 8px;
        
        & > * { justify-content: center; }
        & > *:first-child { justify-content: flex-start; }
        & > *:last-child { justify-content: flex-end; }
        
    }

    & > *:first-child { padding-top: 18px; }
    & > *:last-child { padding-bottom: 18px; }

    &--true {
        z-index: 0;
        animation-name: example;
        animation-duration: 200ms;
    }

}

@keyframes example {
    0% {transform: translateY(calc(-100% + 18px));}
    30% {transform: translateY(calc(-100% + 18px));}
    100% {transform: translateY(0);}
  }